.task-container {
    border: 3px solid rgba(18, 1, 1, 0.981);
    border-radius: 10px;
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    row-gap: 5px;
    padding: 20px;
    background-color: rgb(153, 148, 65);
    height: 100%;

    &__divider {
        border-bottom: 1px solid rgba(18, 1, 1, 0.981);
    }
    &__title {
        font-weight: 700;
        cursor: pointer;
        color: rgb(27, 12, 239);
       
    }
    &__status {
        font-weight: 700;
    } 
    &__des-title {
        font-weight: 700;
    }
    &__des-content {
        height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }


};